.form {
  font-size: 1.25rem;
  display: grid;
  grid-template-rows: 0.25fr 1fr 0.25fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "sexHeader sexHeader" "sexMale sexFemale" "ageHeader weightHeader" "age weight";
  row-gap: 1rem;
  column-gap: 2rem;

  input[type="number"],
  label[for^="sex"] {
    display: block;
    font-size: 3rem;
    width: 100%;
    background-color: #222;
    border: 3px solid #666;
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
    color: white;
    outline: none;
  }

  label[for^="sex"] {
    font-size: 1.75rem;
    font-weight: 900;
  }

  input[type="radio"] {
    display: none;
  }

  input[type="radio"] + label[for^="sex"] {
    background-color: #222;
  }

  input[type="number"]:focus,
  input[type="radio"]:checked + label[for^="sex"] {
    background-color: #333;
    border-color: deepskyblue;
  }

  h3 {
    margin: 0;
    font-size: 1.25rem;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}
