@import "@affectionatedoor/work-sans-subsets";
@import "fontsource-ibm-plex-mono";

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

div#__next {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

p {
  line-height: 1.5rem;
  max-width: 34em;
  font-family: "IBM Plex Mono";
}

a {
  color: deepskyblue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #66d8ff;
}

button {
  padding: 0.25rem 1rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
  color: white;
  font-family: inherit;

  height: 100%;
  font-size: 1.25rem;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  background-color: deepskyblue;
  letter-spacing: 1px;

  outline: none;

  @media screen and (max-width: 768px) {
    font-size: 1rem;
  }

  & + & {
    margin-left: 1rem;
  }

  &:hover {
    cursor: pointer;
  }

  &.stop {
    background-color: deeppink;
  }
}

@keyframes blinker {
  50% {
    opacity: 20%;
  }
}
