@import "@affectionatedoor/work-sans-subsets";

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

div#__next {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

p {
  line-height: 1.5rem;
  max-width: 34em;
  font-family: "IBM Plex Mono";
}

a {
  color: deepskyblue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #66d8ff;
}

@keyframes blinker {
  50% {
    opacity: 20%;
  }
}
